<section class="container">
<h1>Contact List</h1>
<hr/>
<span class="one-third column" id="buttons">
  <div id="new">
    <button class="button-primary" id="btn-new">New</button>
  </div>
  <div id="newContact">
    <div>
      <input id="firstName" placeholder="First Name">
    </div>
    <div>
      <input id="lastName" placeholder="Last Name">
    </div>
    <div>
      <input id="email" placeholder="Email">
    </div>
    <div>
      <input id="phoneNums" placeholder="Phone Number">
    </div>
    <button class="button-primary" id="btn-new-contact">Submit</button>
  </div>
  <div id="list">
    <button class="button-primary" id="btn-list">List</button>
  </div>
  <div id="search">
    <button class="button-primary" id="btn-search">Search</button>
  </div>
  <div id="searchBox">
    <input id="term" placeholder="Search term">
  </div>
</span>
<span class="seven columns" id="contactList">
  <table id="contactsTbl">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th></th>
      </tr>
    </thead>
    <tbody id="contacts">
    </tbody>
  </table>
  <!-- <ul id="contacts"></ul> -->
</span>
</section>