<section class="container centered">
<h1>Contact List</h1>
<hr/>
<div id="buttons">
  <div class="u-full-width" id="new">
    <button class="button-primary" id="btn-new">New</button>
  </div>
  <div id="newContact">
    <div>
      <input id="firstName" placeholder="First Name">
    </div>
    <div>
      <input id="lastName" placeholder="Last Name">
    </div>
    <div>
      <input id="email" placeholder="Email">
    </div>
    <button class="button-primary" id="btn-new-contact">Submit</button>
  </div>
  <div class="u-full-width" id="list">
    <button class="button-primary" id="btn-list">List</button>
  </div>
  <div class="u-full-width" id="search">
    <button class="button-primary" id="btn-search">Search</button>
  </div>
  <div class="u-full-width" id="searchBox">
    <input id="term" placeholder="Search term">
  </div>
</div>
<div id="contactList">
  <h3>Contacts</h3>
  <ul id="contacts"></ul>
</div>
</section>