<section class="container">
<h1>Contact List</h1>
<hr/>
<span class="three columns" id="buttons">
  <div id="new">
    <button class="button-primary" type="button" id="btn-new" data-toggle="#newContact">New</button>
  </div>
  <div id="newContact">
    <div>
      <input id="firstName" type="text" placeholder="First Name">
    </div>
    <div>
      <input id="lastName" type="text" placeholder="Last Name">
    </div>
    <div>
      <input id="email" type="email" placeholder="Email">
    </div>
    <div>
      <input id="phone" type="tel" placeholder="Phone Number">
    </div>
    <button class="button-primary" type="button" id="btn-new-contact">Submit</button>
  </div>
  <div id="list">
    <button class="button-primary" type="button" id="btn-list" data-toggle="#contactsTbl">List</button>
  </div>
  <div id="search">
    <button class="button-primary" type="button" id="btn-search" data-toggle="#searchBox">Search</button>
  </div>
  <div id="searchBox">
    <input id="term" type="search" placeholder="Search term">
  </div>
</span>
<span class="eight columns" id="contactList">
  <table id="contactsTbl">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody id="contacts">
    </tbody>
  </table>
</span>
<div id="video"></div>
<input id="yt-search" type="search">
<div id="search-res"></div>
</section>