<h1>Contact List</h1>

<div class="new">
  <button class="button-primary" id="btn-new">New</button>
</div>
<div class="list">
  <button class="button-primary" id="btn-list">List</button>
</div>
<div class="show">
  <button class="button-primary" id="btn-show">Show</button>
</div>
<div class="find">
  <button class="button-primary" id="btn-find">Find</button>
</div>